body {
    margin:0%;
    padding:0%;
} 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9ea2a2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #9ea2a2;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.splash {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.splash h1 {
  font-family: "Oswald", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #BA0C2F;
}

.splash img {
    border: 5px solid;
    border-radius: 200px;
    box-shadow: 10px 5px 5px 5px #554f47;
}

.splash p {
    display: flex;
    flex-wrap: wrap;
    font-family:'Times New Roman', Times, serif;
    color: #004e60;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    border: 3px solid #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link {
    color: #BA0C2F;
    text-decoration: none;
}

a:visited {
    color:blue
}

a:hover {
    color: purple;
}

h1 {
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #BA0C2F;
    font-size: 30px;
}

h2 {
    font-size: 25px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #BA0C2F;
}

ul {
    background-color: #004e60;
    padding: 20px;
}

ul li {
    background-color: #c8d8eb;
    padding: 10px;
}

dl {
    display: flex;
    flex-flow: row wrap;
    border: solid #554f47;
    border-width: 1px 1px 0 0;
  }
  dt {
    flex-basis: 20%;
    padding: 2px 4px;
    background: #554f47;
    text-align: right;
    color: #fff;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px solid #554f47;
  }

.three-col {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-self: center;
    
}

.three-col img{
    width: 400px;
    
}

.card {
    border: 5px solid #554f47;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow: auto;
}

.card img {
    display: block;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
    align-content: center;
}

.one-col {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-flow: column wrap;
}

.newForm {
    color: #004e60;
}

label {
    padding-top: 10px;
}

input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}

input[type=email]:focus {
    background-color: lightblue;
    border: 3px solid #555;
}

textarea:focus{
    background-color: lightblue;
    border: 3px solid #555;
}

